<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main page!</title>
    <meta name="description" content="Akf-forum!">
    <meta name="author" content="Akif9748">
    <link rel="icon" type="image/x-icon" href="/images/favicon.jpg">

</head>


<body>
    <!-- Navbar: -->
    <a href="/"><img class="logo" src="/images/logo.jpg" alt="AKF-FORUM"></a>
    <br> <button class="buyuk" onclick="window.location.href = '/threads'">THREADS</button>
    <button class="buyuk" onclick="window.location.href = '/search'">SEARCH</button>
    <button class="buyuk" onclick="window.location.href = '/users'">USERS</button>
    <button class="buyuk" onclick="window.location.href = '/createThread/'">OPEN THREAD</button>
    <h1 style="display:inline; float:right;"><a href=<%=user.getLink() %>> <%= user.name %></a>
        <img class="yuvarlak" src=<%=user.avatar %> alt=<%= user.name %>>
    </h1>
    <hr>

    <!-- Navbar end -->


    <h1>Welcome to the admin panel of the forum, <%= user.name %>!</h1>

    <form action="/admin/" method="POST">
        <h2>Write an ID for make admin:</h2>
        <input name="userid"></input>
        <hr>
        <button class="buyuk" type="submit">Make admin!</button>
    </form>
    <script>
        if (<%= user2.admin %>) 
            alert("Making admin of '<%= user2.name %>'' is success");
    </script>
</body>

</html>