<!DOCTYPE html>
<html lang="en">

<%- include("extra/meta", {title: "Admin Panel!" }) %>


<body style="text-align: center;">
  <%- include("extra/navbar") %>
  <b>SİLME LAN İT BEN SİLECEĞİM</b>
  <h1 style="color: #4d18e6;">Welcome to the admin panel of the forum, <%= user.name %>!</h1>
  <h2 style="color: #606060;">Banned users:</h2>
 
  <table >
    <tr>
      <th>IP</th>
      <th>Reason</th>
      <th>AuthorID</th>
    </tr>
    <% for (const ban of bans) { %>
      <tr>
        <td><%=ban.ip%></td>
        <td><%=ban.reason%></td>
        <td><%=ban.authorID%></td>
      </tr>
    <% } %>  
  </table>

 
  <script>
    function ban() {
      var id = document.getElementById("id").value;
      window.location.href = "/ban/give/" + id;
    }
  </script>
</body> 
</html>
