<!DOCTYPE html>
<html lang="en">

<%- include("extra/meta", {title: "Welcome to the Akf-forum!" }) %>


<body >
    <link rel="stylesheet" href="/css/user.css" />

  <%- include("extra/navbar") %>

  <% if (user) { %>
    <h1 style="color: #4d18e6;">Welcome,  <div class="box-username"><%= user.name %>
                <div class="avatar"><img src="<%=user.avatar %>"></div>
            </div>
            <br>
            You can log out of the site here:
            <a href="/login" class="btn-outline-primary">LOGOUT</a>
    </h1>

    <br>
<% } else { %>
    <h1 style="color: #4d18e6;">Welcome, Guest!<br>You can press the button to register:
        <a href="/register" class="btn-outline-primary">REGISTER</a>

    </h1>
 <% } %> 
    <h1 style="color: #606060;">Statistics:</h1>
 
  
    <div class="content">
        <div class="box">
            <h2 class="box-title">Message count:</h2>
            <h2 class="box-title">  <%= messages %></h2>
        </div>
   
        <div class="box">
          <h2 class="box-title">User count: </h2>
          <h2 class="box-title">  <%= users %> </h2>
        </div>
        <div class="box">              
          <h2 class="box-title">Thread count:</h2>
          <h2 class="box-title"><%= threads %></h2>
        </div>
    
        <div class="box">    
            <h2 class="box-title"> Memory usage: </h2>
            <h2 class="box-title"><%= mem.toFixed(2); %> MB</h2>
        </div>
     
    </div> 
</body>

</html>

