<!DOCTYPE html>
<html lang="en">

<%- include("extra/header", {title: "Main page!" }) %>
<body>

    <%- include("extra/navbar") %>
    
<% if (user) { %>
    <h1>Welcome, <a href=<%=user.getLink() %>> <%= user.name %></a>
        <img class="yuvarlak" src=<%=user.avatar %> alt=<%= user.name %>>
            <br>
            You can log out of the site here:
            <button onclick="window.location.href = '/login/'">LOGOUT</button>

    </h1>

    <br>
<% } else { %>
    <h1>Welcome, Guest!<br>You can press the button to register:
    <button class="buyuk" onclick= "window.location.href = '/register'">REGISTER</button>
    </h1>
 <% } %> 
    <h1>Statistics:</h1>
    <ul>
        <li>
            <h3>Message count: <b>
                    <%= messages %>
                </b></h3>
        </li>
        <li>
            <h3>User count: <b>
                    <%= users %>
                </b></h3>
        </li>
        <li>
            <h3>Thread count: <b>
                    <%= threads %>
                </b></h3>
        </li>
        <li>
            <h3>Memory usage: <b>
                    <%= mem.toFixed(2); %> MB
                </b></h3>
        </li>

    </ul>

    <%- include("extra/footer") %>

</body>

</html>
