<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open Thread</title>
    <meta name="description" content="Open thread in Akf-forum!">
    <meta name="author" content="Akif9748">
    <link rel="icon" type="image/x-icon" href="/images/favicon.jpg">

</head>


<body>
    <script src="/js/scripts.js"></script>

    <div id="admin"></div>
    <script>  if (<%= user.admin %>) admin();  </script>


    <!-- Navbar: -->


    <a href="/"><img class="logo" src="/images/logo.jpg" alt="AKF-FORUM"></a>


    <div class="navbar" id="navbar">

        <a href="/threads">THREADS</a>
        <a href="/users">USERS</a>
        <a href="/search">SEARCH</a>
        <a href="/threads/open/">OPEN THREAD</a>

        <div style="float: right;" class="user" id="user">
            <a href=<%=user.getLink() %>>
                <h1>
                    <%= user.name %><img class="yuvarlak" src=<%=user.avatar %> alt=<%= user.name %>>
                </h1>
            </a>
        </div>

    </div>



    <hr>

    <!-- Navbar end -->



    <form action="/threads/" method="POST">
        <h2>Title:</h2> 
        <input name="title"></input>

        <hr>
        <h2>Content:</h2> 
        <textarea rows="4" cols="50" name="content"></textarea>
   
        <hr>
        <button class = "buyuk" type="submit">Open Thread!</button>
    </form>


    <!-- This website is powered by AKF-Forum -->
</body>

</html>