<!DOCTYPE html>
<html lang="en">

<%- include("extra/header", {title: "Thread list" }) %>

    <body>

        <%- include("extra/navbar", {user}) %>


            <h1>Threads:</h1>
            <ul>
                <% threads.forEach(thread=>{ %>
                    <li>
                        <h1 style="display: inline;"> <a href=<%= thread.getLink() %> ><%= thread.title %></a></h1> 
                        <h3 style="display: inline;"> | By <%= thread.author.name  %> <%= thread.deleted ? "(DELETED)" :""  %></h3>
                    </li>
                <% }); %>
            </ul>
            

            <%- include("extra/footer") %>
    </body>

</html>