<!DOCTYPE html>
<html lang="en">
<%- include("extra/meta", {title: "Threads!" }) %>

<body>
  <link rel="stylesheet" href="/css/threads.css" />

<%- include("extra/navbar") %>

<div class="threads">

  <% threads.forEach(thread=>{ %>
    <a href="<%= thread.getLink() %>" class="">
        <div class="threads-box">
          <div class="thread-box-title">
            <% if (thread.deleted) { %> <span>[DELETED]</span><% } %>
            <%= thread.title  %>
          </div>
          <div class="box-username">
            <%= user.name %>  <div class="avatar"><img src="<%=user.avatar %>"> </div>
          </div>
             
        </div>
    </a>             
    <br>                
   <% }); %>
        
</div>

</body>
