<!DOCTYPE html>
<html lang="en">

  <%- include("extra/header", { title : thread.title }) %>

<body>

  <%- include("extra/navbar", {user}) %>


    <h1 style="font-size: 35px;">
      <%= thread.title %>
    </h1>

    <h2>By <a style="color: #bcbcbc;" href=<%="/users/" + thread.author.id %>> <%= thread.author.name %></a>
      <img class="yuvarlak" src=<%= thread.author.avatar %> alt=<%= thread.author.name %>>
    </h2>
<hr>
    <% messages.forEach(message=>{ %>
      <% if (message){ %>

      <div id="message-<%= message.id %>" style="border: 2px solid #444444; padding: 10px;">

        <h3 style="float:right;">
          <%=new Date(message.time).toLocaleString() %>
        </h3>

        <h2>
          <img class="yuvarlak" src=<%=message.author.avatar %> alt=<%= message.author.name %>>
            <a style="color: #bcbcbc;" href=<%="/users/" + message.author.id %>> <%= message.author.name %></a>:
        </h2>

        <h2>
          <%= message.content %>
        </h2>

        <br>

        <% if (user){ %>

          <form style="display:inline;" action="/message/<%= message.id %>/delete/" method="post">
            </a><button type="submit">DELETE</button>
          </form>
          <form style="float: right;" action="/message/<%= message.id %>/react/" method="POST">

            <h3 style="display:inline;">
              <%= Object.values(message.react).filter(Boolean).length - Object.values(message.react).filter(x=>
                !x).length %>
            </h3>


            <button style="display:inline;" name="like" type="submit">+🔼</button>
            <button style="display:inline;" name="dislike" type="submit">-🔽</button>

          </form>
          <% } %>


      </div>

      <% } else { %>
        <div id="deleted-message" style="border: 2px solid #444444; padding: 10px;">
          <h1>DELETED MESSAGE</h1>
        </div>
        <% } %>
        <br>

      <% }); %>

        <hr>


        <form action="/message" method="POST">
          <textarea rows="4" cols="133" name="content"></textarea>
          <input name="threadID" type="hidden" value="<%= thread.id %>"></input>

          <br>
          <% if (user){ %>
            <button type="submit">Send!</button>
            <%} else {%>
              <button disabled>Login for send</button>
              <% }%>

        </form>


        <%- include("extra/footer") %>
</body>

</html>
