<!DOCTYPE html>
<html lang="en">
<%- include("extra/meta", {title: "Thread list!" }) %>

<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/threads.css" />

  <%- include("extra/navbar") %>

  <div class="threads">

    <% threads.forEach(thread=>{ %>
    <a href="<%= thread.getLink() %>" class="">
      <div class="threads-box">
        <div class="thread-box-title">
          <% if (thread.deleted) { %> <span>[DELETED]</span><% } %>
          <%= thread.title  %>
        </div>
        <div class="box-username">
          <% if (user && !thread.deleted){ %>
          <a class="btn-danger" onclick="fetch('/api/threads/<%= thread.id %>/',{method:'DELETE'})"><i class="fa-solid fa-trash-can"></i></a>
          <% } %>
          <%= thread.author.name %> <div class="avatar"><img src="<%=thread.author.avatar %>"> </div>

        </div>

      </div>
    </a>
    <br>
    <% }); %>

  </div>

</body>