<!DOCTYPE html>
<html lang="en">

<%- include("extra/meta", {title: "User list!" }) %>


<body>
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

  <%- include("extra/navbar") %>
  <div class="users">
    <% users.filter(member=> !member.deleted || user.admin ).forEach(member => { %>
    <div style="display:flex;justify-content:center;">
      <div class="user-box">
        <img src="<%= member.avatar %>" class="user-box-img">
        <div class="user-box-title"> <a href="<%= member.getLink() %>">
            <% if (member.deleted) { %> <span style="color: var(--important);">[DELETED]</span><% } %>
            <%= member.name %></a></div>
      </div>
    </div>
    <% }); %>

  </div>
  <% if(typeof page === "number"){ %>
  <div class="pagination">
    <div class="back">
      <% if (page > 0){ %>
      <a href="/users?page=<%= page-1 %>" class='bx bxs-chevron-left'></a>
      <% } %>
    </div>

    <div class="numbers">
      <% for(let i=0; i < pages; i++){ %>
      <a class="number <%= i==page?'active':'' %>" href="/users?page=<%= i %>"><%= i+1 %></a>
      <% } %>
    </div>

    <div class="after">
      <% if (pages-1 > page) { %>
      <a href="/users?page=<%= page +1 %>" class='bx bxs-chevron-right'></a>
      <% } %>
    </div>

  </div>
  <% } %>
  <%- include("extra/footer") %>

</body>

</html>