<!DOCTYPE html>
<html lang="en">

<%- include("extra/meta", {title: "User list!" }) %>


<body>
  <link rel="stylesheet" href="/css/users.css" />

  <%- include("extra/navbar") %>

  <div class="users">
  <% users.forEach(user=>{ %>
      <div class="user-box">
        <img src="<%=user.avatar %>" class="user-box-img">
        <div class="user-box-title"> <a href="<%= user.getLink() %>">
          <% if (user.deleted) { %> <span>[DELETED]</span><% } %>
          <%= user.name %></a></div>
      </div>
  <% }); %>

  </div>
</body>

