<!DOCTYPE html>
<html lang="en">

<%- include("extra/header", {title: "User list!" }) %>

    <body>

        <%- include("extra/navbar", {user}) %>


            <h1>USERS:</h1>
            <ul>
                <% users.forEach(user=>{ %>
                    <li>
                        <h1><a href=<%= user.getLink() %> > <%= user.name %></a>
                            <img class="yuvarlak" src=<%=user.avatar %> alt=<%= user.name %>>
                        </h1>
                    </li>
                    <% }); %>
            </ul>



            <%- include("extra/footer") %>
    </body>

</html>