<!DOCTYPE html>
<html lang="en">

<%- include("extra/meta", {title: member.name }) %>


<body>
  <%- include("extra/navbar") %>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>

  <div class="usercontent">

    <%- include(dataset.getFile(dataset.theme.codename +"/extra/usermenu")) %>
    <div class="userbox" style="justify-content:center;">
      <img style="width:150px;height:150px;border-radius:50%;" src="<%=member.avatar %>">
    </div>

    <% if (member.admin) { %>
    <h2 class="userbox-value" style="align-self: center;">Admin</h2>
    <% } %>

    <% if (member.about?.length) { %>
    <div class="userbox-value" id="about" style="
margin: 10px auto;
box-shadow: 0 0 5px 0 var(--second);
padding: 10px;
width: 100%;
max-width: 800px;
text-align: center;
border-radius: 5px;
background: none;
color: var(--anti);
">
      <%= member.about %>
    </div>
    <script>
      const converter = new showdown.Converter();
      const about = document.getElementById("about")
      about.innerHTML = converter.makeHtml(about.innerText);
    </script>
    <% } %>



    <div class="userbox">
      <h2 class="userbox-title">Name:</h2>
      <h2 class="userbox-value"><%= member.name %></h2>
    </div>
    <div class="userbox">
      <h2 class="userbox-title">Created at:</h2>
      <h2 class="userbox-value"><%= new Date(member.time).toLocaleString() %></h2>
    </div>
    <% if(!member.hideLastSeen || user?.admin) {%>
    <div class="userbox">
      <h2 class="userbox-title">Last seen at:</h2>
      <h2 class="userbox-value"><%= new Date(member.lastSeen).toLocaleString() %></h2>
    </div>
    <% } %>
    <div class="userbox">
      <h2 class="userbox-title">Message:</h2>
      <a class="userbox-value" href="/search/messages?authorID=<%= member.id %>">
        <%= counts.message %>
      </a>
    </div>
    <div class="userbox">
      <h2 class="userbox-title">Thread:</h2>
      <a class="userbox-value" href="/search/threads?authorID=<%= member.id %>">
        <%= counts.thread %>
      </a>
    </div>
  </div>
  <%- include("extra/footer") %>

</body>

</html>