<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title><%= title || dataset.forum_name +"-forum" %></title>
  <meta name="theme-color" content="#1e1e1e" />
  <meta name="apple-mobile-web-app-title" content="Silicone">
  <link rel="alternate" type="application/rss+xml" title="RSS feed for <%= title || dataset.forum_name +"-forum" %>" href="/bolum/-/index.rss" />
  <meta property="og:site_name" content="<%= title || dataset.forum_name +"-forum" %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= title || dataset.forum_name +"-forum" %>" />
  <meta property="twitter:title" content="<%= title || dataset.forum_name +"-forum" %>" />
  <meta name="description" content="<%= dataset.description %>">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <meta property="og:description" content="<%= dataset.description %>" />
  <meta property="twitter:description" content="<%= dataset.description %>" />

  <link rel="stylesheet" href="/themes/xenforo/s1.css" />
  <link rel="stylesheet" href="/themes/xenforo/s2.css" />
</head>