<!DOCTYPE html>
<html lang="en">

<%- include("extra/meta", {title: "Welcome to the "+dataset.forum_name+"-forum!" }) %>


<body>
  <%- include("extra/navbar") %>


  <div class="container my-3">
    <nav class="breadcrumb">
      <span class="breadcrumb-item active">
        <% if (user) { %>
        Welcome, <%= user.name %>
        <% } else { %>
        Welcome, Guest! <a href="/register">You can press to register.</a>
        <% } %>
      </span>
    </nav>
    <div class="row">
      <div class="col-12 col-xl-9">
        <div class="category">

          <h2 class="h4 text-white  bg-danger mb-0 p-4 rounded-top">Forum category</h2>
          <table class="table table-striped table-bordered table-responsive">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="forum-col">Forum</th>
                <th scope="col">Topics</th>
                <th scope="col">Posts</th>
                <th scope="col" class="last-post-col">Last post</th>
              </tr>
            </thead>
            <tbody>
              <tr class="thread">
                <td>
                  <h3 class="h5 mb-0"><a href="#0" class="text-uppercase">Forum name</a></h3>
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque lorem sed elementum.</p>
                </td>
                <td>
                  <div>5</div>
                </td>
                <td>
                  <div>18</div>
                </td>
                <td>
                  <h4 class="h6 mb-0 font-weight-bold"><a href="#0">Post name</a></h4>
                  <div>by <a href="#0">Author name</a></div>
                  <div>05 Apr 2017, 20:07</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 col-xl-3">
        <aside>
          <div class="row">
            <div class="col-12 col-sm-6 col-xl-12">
              <div class="card mb-3 mb-sm-0 mb-xl-3">
                <div class="card-body">
                  <h2 class="h4 card-title">Members online</h2>
                  <ul class="list-unstyled mb-0">
                    <li><a href="/users">You</a></li>

                  </ul>
                </div>
                <div class="card-footer">
                  <dl class="row mb-0">
                    <dt class="col-8">Total:</dt>
                    <dd class="col-4 mb-0">-</dd>
                  </dl>
                  <dl class="row mb-0">
                    <dt class="col-8">Members:</dt>
                    <dd class="col-4 mb-0">-</dd>
                  </dl>
                  <dl class="row mb-0">
                    <dt class="col-8">Guests:</dt>
                    <dd class="col-4 mb-0">-</dd>
                  </dl>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-12">
              <div class="card">
                <div class="card-body">

                  <h2 class="h4 card-title">Forum statistics</h2>
                  
                  <dl class="row mb-0">
                    <dt class="col-8">Total forums:</dt>
                    <dd class="col-4 mb-0"><%= categories %></dd>
                  </dl>
                  <dl class="row mb-0">
                    <dt class="col-8">Total threads:</dt>
                    <dd class="col-4 mb-0"><%= threads %></dd>
                  </dl>
                  <dl class="row mb-0">
                    <dt class="col-8">Total messages:</dt>
                    <dd class="col-4 mb-0"><%= messages %></dd>
                  </dl>
                  <dl class="row mb-0">
                    <dt class="col-8">Total members:</dt>
                    <dd class="col-4 mb-0"><%= users %></dd>
                  </dl>
                </div>
                <div class="card-footer">
                  <div>Newest member:</div>
                  <div><a href="#0"><%= newestMember %></a></div>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>

  <%- include("extra/footer") %>

</body>

</html>