<!DOCTYPE html>
<html lang="en">

<%- include(dataset.getFile(dataset.theme.codename +"/views/extra/meta"), {title:"Message search!" }) %>


<body style="text-align: center;">
  <%- include(dataset.getFile(dataset.theme.codename +"/views/extra/navbar")) %>


  <div id="messages">

    <% messages.filter(Boolean).forEach(message=>{ %>

    <div class="message" id="message-<%= message.id %>">
      <div class="left">
        <img src="<%= message.author.avatar %>" />
        <div class="username"><a href="/users/<%=message.authorID %>"><%=message.author.name %></a></div>
        <div class="date">
          <%= new Date(message.time).toLocaleDateString() %>
        </div>
        <div class="date">
          <%= new Date(message.time).toLocaleTimeString() %>
        </div>
      </div>
      <div class="content"><%- message.content %></div>
    </div>

    <% }); %>
  </div>
  <%- include(dataset.getFile(dataset.theme.codename +"/views/extra/footer")) %>

</body>

</html>